*{
    margin: 0;
    padding: 0;
}
body{
    margin:10vh auto;
    text-align: center;
    background-color: bisque;
}
button {
    background-color: black;
    border-radius: 5px;
    padding:  0 10px;
    color: white;
    margin: 10px;
    font-weight: bold;
}