@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }

 body {
    background-color:#f7e7b5;
    background-image: url(../img/bga.jpg) ;
    background-size: cover;

 }

 /* ==NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=====NAVBAR=== */
 .nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    z-index: 9999;
 }
 .nav div img {
    width: auto;
    height: 5rem;
    padding: 10px;
 }
 .nav .logo-game {
    display: flex;
    columns: 1;
    width: auto;
    height: 1rem;
    align-items: center;
    color: rgb(110, 79, 21);
 }
 .container-ucapan {
  display: grid;
  grid-template-columns: 20% 10% 20%;
  justify-content:space-around;
  align-items: center;
  margin-top: 3.5em;
  position: absolute;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  z-index: 99999999;
 }
 .container-ucapan a button {
  width: 8em;
  height: 3em;
  background-color: #f4c531;
  border: none;
  font-size: 1.2rem;
  cursor:pointer;
  border-radius: 5px;
 }
 .container-ucapan a button:hover {
  background-color:#f7e7b5
  /* border: #131333 2px solid; */
 }
.ucapan{
  background-color: #f4c531;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  left: 70%;
  height: 5rem;
  top: 5rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: left;
  align-items: center;
  position: absolute;
  z-index: 99999;
}
.ucapan p {
  font-size: 1.2em;
}
.ucapan#tampilkanLevel {
  position: relative;
  left: -50%;
}


 /* ==GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX====GAME-BOX== */

 .container {
    background-color: transparent;
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 5em 3em;
    border-radius: 0.5em;
  }
  .container h3 {
    font-size: 1.8em;
    font-family: 'Exo', sans-serif;
    color: #23234c;
    text-align: center;
    font-weight: 500;
    line-height: 1.8em;
  }
  
  .container #question {
    background-color: #eeedf1;
    font-size: 2em;
    font-weight: 600;
    color: #23234c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2em 0 1em 0;
    padding: 1em 0;
    border-radius: 5px;
  }
  .container input {
    font-size: 1em;
    font-weight: 600;
    width: 2.35em;
    color: #23234c;
    text-align: center;
    padding: 0 0.2em;
    border: none;
    background-color: transparent;
    border-bottom: 0.12em solid #23234c;
    margin: 0 0.25em;
  }
  .container input:focus {
    border-color: #f4c531;
    outline: none;
  }
  
  .container input[type="number"]::-webkit-outer-spin-button,
  .container input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .controls-container {
    transition: 1s ease;

    /* background-image: url(../img/bga.jpg); */
    background-image: radial-gradient(#fdfcc3, #f4d941);
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4c531;
    height: 100%;
    width: 100%;
    top: 0;
  }
  .game-box .controls-container h3 {
    font-size: 5rem;
    font-weight: bold;
    color:#131333
   }
  
  #start-btn, #lanjutL2, #lanjutL3, #lanjutL4, #selesai {
    font-size: 1.2em;
    font-weight: 500;
    background-color: #f4c531;
    color: #23234c;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8em 1.8em;
    margin: 0px 3em;
    border-radius: 0.3em;
    z-index: 9999;
  }
  #start-btn:hover, #lanjutL2:hover, #lanjutL3:hover, #lanjutL4:hover, #selesai :hover {
    background-color: #fffbe7;
  }
  #result {
    margin-bottom: 1em;
    padding: 20px;
    font-size: 1.5em;
    color: #000000;
    border-radius: 10px;
    
  }
  #result span {
    font-weight: 600;
  }
  
  .hide {
    display: none;
  }
  .container #answer #btn-ans5.hide, .container #answer #btn-ans6.hide {
    display: none;
  }
  .container #answer {
    display: grid;
    height: 200px;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: transparent;
    justify-content: center;
    align-items: center;

  }
  
  .container #answer button  {
  margin: 5px;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffae00;
  font-size: 30px;
  border-radius: 0.2%;
 
  }
  .container #answer #btn-ans1:hover,
  .container #answer #btn-ans2:hover,
  .container #answer #btn-ans3:hover,
  .container #answer #btn-ans4:hover,
  .container #answer #btn-ans5:hover,
  .container #answer #btn-ans6:hover
{
    transition: 1s ease;
    background-color: rgb(218, 131, 1);
    border: 5px solid rgb(0, 0, 0);
  }


  .game-box .controls-container p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #bd7b02;
    font-weight: 800;
   }
   label {
    font-size: 20px;
   }
  input {
    height: 33px;
    font-size: larger;
    border: none;
    border-radius: 5%;
    padding: auto;
    padding: 5px;
  }
  .kotakan {
    display: grid;
    grid-template-columns: auto;
    background-color:#ffae00;
    width: 30%;
    height: 13em;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0px;
    animation:  animasi 3s infinite;
    z-index: 99999;
    
  }
  @keyframes animasi{
    0% {
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);

    }
    100%{
        transform: scale(0.8);

    }
  }
 /* ==FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER====FOOTER== */
 .footer {
     top: 92vh;
     position: fixed;
     width: 100%;
     height: 5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 5rem;
    justify-content: center;
    align-items: center;
    background-color: orange;
 }
 .footer div {
    margin: auto;
 }
 .footer div a {
  font-size: 1.2em;
    padding: 10px 20px;
    /* background-color:#f4c531; */
    text-decoration: none;
    color: #23234c;
 }


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.circles li{
  
    position: absolute;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:100px;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(transparent);
    animation: animate 25s linear infinite;
    bottom: -100px;
    /* opacity: 0.2; */
    color: #ffbb00;
    font-weight: 700;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: -0.75;
        border-radius: 50%;
    }

}

